---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Eliza's Third Birthday">
	<main>
		<h1>Eliza's Third Birthday</h1>
		<p>Three years old already! It seems like just yesterday she was crawling around the house babbling nonsense, now she's dancing and telling us entire stories! Let's celebrate another year. Please join us for a fun-filled day of food, friends, and family.</p>

		<h2>When?</h2>
		<p>
			<strong>Date: </strong>
			Saturday, October 4th, 2025
			<br/>
			<strong>Time: </strong>
			12:00pm - 4:00pm
			<br />
			<!-- todo: new calendar link -->
			<!-- <a href="https://cal.et/rohrtnsg" target="_blank" style="display: inline-block; margin-top: 0.5rem;">
				Add to Calendar
			</a> -->
		</p>
		
		<h2>Where?</h2>
		<address>
			Alstede Farms<br/>
			1 Alstede Farms Ln<br />
		  Chester, NJ 07930
		</address>
		<p style="margin-bottom: 1rem">
			<a href="https://www.alstedefarms.com/" target="_blank">
				Visit their Website
			</a>
		</p>
		<p>
			<a 
				href="https://www.google.com/maps/place/Alstede+Farms/@40.779056,-74.713821,14z/data=!4m6!3m5!1s0x89c3990b3264ed17:0xd043541046a9664f!8m2!3d40.7789241!4d-74.7137164!16s%2Fg%2F1td7_0ft?hl=en-US&entry=ttu"
				target="_blank"
			>
				Get Directions
			</a>
		</p>

		<h3>Parking and Tent Location</h3>
		<p style="margin-bottom: 0;">Guests must park in the main parking lot behind the farm store.</p>
		<p>Information about the tent location will be provided at a later date.</p>
		<!-- <p>Look for us in tent <strong>PEACOCK</strong>.</p> -->
		
		<h2>What can we gift?</h2>
		<p>No gifts, please! Her favorite thing is just being outside with friends and family (plus, I don't really have <em>space</em> for much more).</p>
		<p>If you really want to give something and are in a financial position to do so, you can contribute to her 529 plan. Unfortunately, the online portal is currently unavailable and payments would have to be via check.</p>
		<p>Otherwise, you can donate in her name to <a href="/donate">one of these vetted organizations.</a></p>
		<!-- todo: update link below -->
		<!-- <p>If you really want to give something, consider contributing to <a href="https://accounts.franklintempleton.com/investor/college/-1lYU" target="_blank">Eliza's college fund</a> or donating to <a href="/donate">one of these charities</a>.</p> -->

		<h2>Agenda</h2>
		<!-- todo: review agenda -->
		<ul style="margin-bottom: 0;">
			<li>12:30pm: Hello & Hugs!</li>
			<li>1:00pm: Apple Picking!</li>
			<li>2:00pm: Lunch</li>
			<li>2:30pm: Happy Birthday Desserts</li>
			<li>3:00pm: Playtime!</li>
			<li>3:30pm: Goodies & Good Byes</li>
		</ul>
		<p>We have the private tent until 3:30, but that doesn't mean we have to leave at that point! Other activities on the farm include visiting the animals, riding the train, climbing a hay pyramid, exploring an evergreen maze, or just checkout out the shop for fresh yummies.</p>

		<!-- <h3>A Note on Rain</h3> -->
		<!-- <p>It is expected to rain for the duration of the party, but we plan to proceed regardless. We have a tent for hanging out and eating, and the wagon to the fruit picking is covered. We will provide rain ponchos to those of you coming to the fields. Nonetheless, it may be wise to bring a raincoat/umbrella (and extra socks)!</p> -->

		<h2>Food</h2>
		<p>Pizza. 3 plain pies, 2 sausage & onion, and a pepperoni.</p>

		<h2>What else should we know?</h2>
		<ul>
			<li>The venue is outside, under a tent, so dress appropriately.</li>
			<li>Party is rain or shine.</li>
			<li>Wear comfortable walking shoes, especially if you plan to come fruit picking.</li>
			<li>No alcohol is allowed on site.</li>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p, ul {
		margin-bottom: 3rem;
	}
</style>