---
import Layout from '../layouts/Layout.astro';
import DonateBlock from '../components/Donate.astro';
import donate from '../data/donate';
---

<Layout title="Recommended Donations for the Perno Family">
	<main class="text-center">
		<h1>Make the World a Better Place</h1>
		<p>We treasure the excitement around our children, but we ask that celebrations <em>not</em> include purchasing new things. If you have the money to spend, we ask that you donate it in the kids' honor instead. We have provided a vetted list of worthwhile charities.</p>
		<ul class="list-unstyled">
			{donate.map(item => (
				<DonateBlock
					title={item.title}
					description={item.description}
					link={item.link}
				/>
			))}
		</ul>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>
