---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Perno Family">
	<main>
		<h1>Eliza's First Birthday</h1>
		<h2>October 7th, 2023</h2>
		<p>They grow up so fast! It seems like just last week that Eliza was born. Now she's turning one! We're so excited to celebrate with you. Please join us for a fun-filled day of food, games, friends, and family.</p>
		<p>
			<strong>Location: </strong>
			<a href="https://www.alstedefarms.com/">Alsted Farm</a> <br/>
			<strong>Time: </strong>
			1:00pm - 4:00pm
		</p>
		<p>
			Please refrain from buying or giving presents. If the spirit moves you, please contribute to Eliza's college fund (link coming soon), or consider donating to <a href="/donate">one of these charities</a>.
		</p>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>