---
import Layout from '../layouts/Layout.astro';
import "bootstrap/dist/css/bootstrap.min.css";
---
<Layout title='Weekday Schedule for the Perno Family'>
  <main>
    <h1>Schedule</h1>
    <p>The following schedule is an approximation. Always follow the kid's signs first and foremost, but this can be a helpful guide.</p>
		<table class="table">
			<tbody>
				<tr>
					<th>~7:00am</th>
					<td>Wake up</td>
					<td>Diaper change and potty time too</td>
				</tr>
				<tr>
					<th>7:30-9:30am</th>
					<td>Breakfast</td>
					<td></td>
				</tr>
				<tr>
					<th>9:30am</th>
					<td>Potty Time & Handwashing</td>
					<td></td>
				</tr>
				<tr>
					<th>11:00am</th>
					<td>Lunch</td>
					<td></td>
				</tr>
				<tr>
					<th>11:30am</th>
					<td>Potty Time</td>
					<td>
				</tr>
				<tr>
					<th>12:00-2:00pm</th>
					<td>Nap / Quiet Time</td>
					<td></td>
				</tr>
				<tr>
					<th>2:00pm</th>
					<td>Potty Time</td>
					<td></td>
				<tr>
					<th>2:30pm</th>
					<td>Afternoon Snack</td>
					<td></td>
				</tr>
				<tr>
					<th>~4:30pm</th>
					<td>Potty Time</td>
					<td></td>
				</tr>
				<tr>
					<th>6:00pm</th>
					<td>Dinner</td>
					<td></td>
				</tr>
				<tr>
					<th>6:30pm</th>
					<td>Bath & Potty Time</td>
					<td>Baths are not required daily</td>
				<tr>
					<th>7:30pm</th>
					<td>Story Time</td>
					<td></td>
				</tr>
				<tr class="border-bottom-0">
					<th>8pm</th>
					<td>Bedtime</td>
					<td></td>
			</tbody>
		</table>
		
		<!-- <h3 class="h5 mt-5">Notes</h3>
		<ul>
			<li>We are trying out a 7pm bedtime (instead of 6:30).</li>
			<li>She has been sleeping pretty much throughout the night at home. If she does wake up, see if she will self-soothe (5-10 minutes). IF not, then you can help comfort her.</li>
		</ul> -->
  </main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	body { background-color: unset; }
	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.table>:not(caption)>*>* { /* overwrite bootstrap style */
		background-color: unset;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>