---
import Layout from '../layouts/Layout.astro';
import "bootstrap/dist/css/bootstrap.min.css";
---
<Layout title='Weekday Schedule for the Perno Family'>
  <main>
    <h1>Schedule</h1>
    <p>The following schedule is an approximation. Always follow the kid's signs first and foremost, but this can be a helpful guide.</p>
		<table class="table">
			<tbody>
				<tr>
					<th>6:30-7:30am</th>
					<td>Wake up</td>
					<td></td>
				</tr>
				<tr>
					<th>7:30-8:00am</th>
					<td>Breakfast</td>
					<td>If she hasn't had a bottle all night, we'll usually give her a 6 oz. bottle at this point. Otherwise, you can feed her from some real food, like oatmeal.</td>
				</tr>
				<tr>
					<th>10:30am</th>
					<td>Second Breakfast</td>
					<td>6 oz. bottle</td>
				</tr>
				<tr>
					<th>11:30am</th>
					<td>Nap</td>
					<td>She'll usually sleep for 30-90 minutes (if she goes down at all).</td>
				</tr>
				<tr>
					<th>1:00pm</th>
					<td>Lunch</td>
					<td>1 jar of baby food</td>
				</tr>
				<tr>
					<th>2:30-3:30pm</th>
					<td>Second Lunch</td>
					<td>6 oz. bottle</td>
				</tr>
				<tr>
					<th>3:00-3:30pm</th>
					<td>Nap</td>
					<td>She'll usually sleep for 30-40 minutes (if she goes down at all).</td>
				</tr>
				<tr>
					<th>5:00pm</th>
					<td>Dinner</td>
					<td>A balanced meal of real food</td>
				</tr>
				<tr>
					<th>6:00-6:30pm</th>
					<td>Second Dinner</td>
					<td>6 oz. bottle</td>
				</tr>
				<tr style="--bs-border-width: 0">
					<th>6:30-7:30pm</th>
					<td>Bedtime</td>
					<td>This time varies wildly depending on how successful her naps were.</td>
			</tbody>
		</table>
		
		<h2 class="h5 mt-5">Milk</h2>
		<p>We are beginning to expose her to milk, so please feel free to offer her some with her meals.</p>

		<h2 class="h5 mt-5">Night Feeds</h2>
		<p class="mb-3">She will usually wake up once a night for a 6 oz bottle. It's not unheard of for her to wake up twice, although usually one of those feeds is more of a comfort feed.</p>
		<p class="mt-0">We are trying to reduce this frequency, although it is dependant on a larger diet of solid foods which she is working on.</p>

  </main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	body { background-color: unset; }
	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.table>:not(caption)>*>* { /* overwrite bootstrap style */
		background-color: unset;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>