---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Weekday Schedule for the Perno Family'>
  <main>
    <h1>Schedule (Coming Soon)</h1>
    
  </main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>