---
import Layout from '../layouts/Layout.astro';
import "bootstrap/dist/css/bootstrap.min.css";
---
<Layout title='Weekday Schedule for the Perno Family'>
  <main>
    <h1>Schedule</h1>
    <p>The following schedule is an approximation. Always follow the kid's signs first and foremost, but this can be a helpful guide.</p>
		<table class="table">
			<tbody>
				<tr>
					<th>~7:30am</th>
					<td>Wake up</td>
					<td></td>
				</tr>
				<tr>
					<th>~8:00am</th>
					<td>Breakfast</td>
					<td></td>
				</tr>
				<tr>
					<th>10:30am</th>
					<td>Second Breakfast</td>
					<td></td>
				</tr>
				<tr>
					<th>11:30am</th>
					<td>Nap</td>
					<td>If you give her milk with this nap, serve 8 oz. out of a sippy cup.</td>
				</tr>
				<tr>
					<th>1:00pm</th>
					<td>Lunch</td>
				</tr>
				<tr>
					<th>3:00pm</th>
					<td>Snack</td>
					<td></td>
				</tr>
				<tr>
					<th>5:00pm</th>
					<td>Dinner</td>
					<td></td>
				</tr>
				<tr>
					<th>~6:00pm</th>
					<td>Bottle</td>
					<td>These 8 oz. of milk can be served out of a traditional bottle.</td>
				</tr>
				<tr style="--bs-border-width: 0">
					<th>~6:30pm</th>
					<td>Bedtime</td>
					<td></td>
			</tbody>
		</table>
		
		<h3 class="h5 mt-5">Notes</h3>
		<ul>
			<li>She gets two 8 oz. servings of whole milk now. The first one, often served with her nap, is out of a sippy cup. The one served with bedtime is still being given out of a bottle.</li>
			<li>We are transitioning away from a sleep sack and towards a blanket. For now, at home, we've still been putting her in the sleep sack, and laying the blanket over her.</li>
			<li>She has been sleeping pretty much throughout the night at home. If she does wake up, I might offer her water. More often than not though, we have to let her cry it out.</li>
		</ul>
  </main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	body { background-color: unset; }
	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}
	.table>:not(caption)>*>* { /* overwrite bootstrap style */
		background-color: unset;
	}
	.list-unstyled {
		padding-left: 0;
    list-style: none;
	}
	.text-center {
		text-align: center;
	}
	p {
		margin-bottom: 3rem;
	}
</style>